/* ================== ~TOP-NAV STARTS~ =================== */

.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #dcdaa9;
  color: #282c34;
}
.top-nav .logo {
  color: #282c34;
}
.top-nav .logo span {
  font-size: 6px;
  font-style: italic;
  writing-mode: tb-rl;
}

.top-nav .nav-icon {
  font-size: 15px;
  align-items: baseline;
  justify-content: center;
}
.top-social a:hover {
  color: #f5f4f4ef;
}

.top-social {
  font-size: large;
}
.top-social a {
  padding-right: 10px;
}
.nav-contact {
  display: flex;
}

.nav-contact a {
  color: #282c34;
  font-size: 15px;
  font-weight: normal;
  padding-right: 30px;
}
.nav-contact a i {
  font-size: normal;
  padding-right: 5px;
  vertical-align: middle;
}

/* ================== ~TOP-NAV ENDS~ =================== */

/* ================== ~MID-NAV STARTS~ =================== */

.mid-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f5f4f4ef;
  color: #282c34;
}

.mid-social a,
.mid-social button {
  margin-right: 10px;
  border: 1px solid #282c34;
  border-radius: 25%;
}

.mid-social button {
  font-size: 10px;
  cursor: pointer;
}
.mid-social .orders {
  font-size: 15px;
  padding: 5px;
}
.mid-social .orders span {
  font-size: 17px;
  padding: 5px;
}
.mid-social .Sign-in {
  padding: 5px;
  font-size: 17px;
  border: 1px solid #282c34;
  align-items: center;
}

.searchBox {
  background: #2f3640;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
  background-color: #dcdaa9;
}

.searchBox:hover .searchInput {
  width: 340px;
  padding: 0 6px;
}

.searchBox:hover .searchButton {
  background: white;
  color: #2f3640;
}

.searchButton {
  color: white;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  margin: 0;
}

.searchInput {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: #282c34;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}
.dynamic-wrapper {
  display: flex;
}

.dynamic-wrapper .dynamic-txts {
  margin-left: 15px;
  line-height: 40px;
  height: 40px;
  overflow: hidden;
}

.dynamic-txts li {
  top: 0;
  font-size: 25px;
  font-weight: 500px;
  font-style: italic;
  position: relative;
  animation: slide 8s steps(3) infinite;
}

.dynamic-txts li::after {
  content: " ";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #f5f4f4ef;
  border-left: 2px solid #282c34;
  animation: typing 3s steps(10) infinite;
}

@keyframes typing {
  40%,
  60% {
    left: calc(100% + 30px);
  }
  100% {
    left: 0;
  }
}

@keyframes slide {
  100% {
    top: -360px;
  }
}

/* ================== ~MID-NAV ENDS~ =================== */

/* ================== ~MAIN-NAV STARTS~ =================== */

.main-nav {
  background-color: #f5f4f4ef;
  min-height: 4vh;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.main-nav a {
  color: #282c34;
  padding: 25px 15px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  box-sizing: border-box;
}
.main-nav a:hover {
  background-color: #ced4da;
}
.main-nav-mobile {
  background-color: #f5f4f4ef;
  min-height: 4vh;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  height: 0;
  opacity: 0;
  z-index: -1;
}
.main-nav-mobile a {
  color: #282c34;
  padding: 25px 15px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  box-sizing: border-box;
}
.main-nav-mobile a:hover {
  background-color: #ced4da;
}
.nav-mobile {
  height: 0;
  opacity: 0;
}
/* ================== ~MAIN-NAV ENDS~ =================== */

@media screen and (max-width: 767px) {
  .nav-contact a {
    padding-right: 10px;
  }
  .searchBox:hover .searchInput {
    width: 80px;
    padding: 0 6px;
  }

  .main-nav-mobile {
    display: visible;
    opacity: 1;
    height: auto;
    z-index: 0;
  }
  .nav-mobile {
    height: auto;
    opacity: 1;
  }
}

/* ================== ~AUTH START~ =================== */
.auth-background {
  overflow-y: hidden;
}

.auth-form {
  margin-top: 30px;
  margin-left: 35%;
  width: 25%;
  max-width: 768px;
  border: 1px solid #ddd;
  padding: 3vw;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}
@media screen and (max-width: 675px) {
  .auth-form {
    margin: 10px;
    width: 90%;
  }
}
.auth-form h3 {
  text-align: center;
  padding-bottom: 20px;
}
.signup,
.social-login,
.btn-auth {
  text-align: center;
  margin-top: 30px;
}

.form-control .floating-select {
  border-color: #dcdcdc;
  color: #333;
  font-size: 15px;
  min-height: 46px;
  padding: 6px 15px;
}
.error {
  margin: 4px 0 0 0;
  font-size: 13px;
  color: #e64646;
}

.btn-auth {
  font-size: 15;
  font-weight: 350;
  align-items: center;
  padding: 15px 0px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 3px;
}
.login-or {
  color: #a0a0a0;
  margin-top: 20px;
  padding-bottom: 5px;
  padding-top: 10px;
  position: relative;
}
.or-line {
  background-color: #e5e5e5;
  height: 1px;
  margin-bottom: 0;
  margin-top: 0;
  display: block;
}
.span-or {
  background-color: #fff;
  display: block;
  left: 40%;
  margin-left: -20px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 0;
}
.social-login {
  text-align: center;
  display: block;
}
.text-right {
  text-align: right;
  margin: 10px;
}
.auth-form input[type="text"],
input[type="tel"],
input[type="email"],
input[type="number"],
input[type="password"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  margin-top: 20px;
  border: none;
  outline: none;
  border-bottom: 1px solid #545454;
}

.auth-form label {
  margin-bottom: 20px;
  position: relative;
  border-bottom: 1px solid #ddd;
}
.auth-form input::placeholder {
  opacity: 0;
}
.form-group span {
  position: absolute;
  top: 1;
  left: 0;
  transform: translateY(30px);
  font-size: 0.825em;
  transition-duration: 300ms;
}

label:focus-within span,
input:not(:placeholder-shown) + span {
  color: #282c34;
  transform: translateY(0px);
}
label:focus-within span,
select:not([value=""]):valid ~ label {
  transform: translateY(0px);
}

.floating-select:focus ~ label,
.floating-select:not([value=""]):valid ~ label {
  top: -18px;
  font-size: 14px;
  color: #5264ae;
}

.auth-icon {
  font-size: 20px;
  display: inline;
  padding: 10px;
  vertical-align: middle;
}

.social-login button {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}
.signup {
  margin-top: 10px;
}

/* ================== ~AUTH ENDS~ =================== */

/* ================== ~BODY STARTS~ =================== */
.body-contect h2 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
  font-style: italic;
}

.sidebar {
  width: 280px;
  height: fit-content;
  color: #545454;
  background-color: #fff;
  border: 2px solid #f5f4f4ef;
  border-radius: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  opacity: 1;
}
.sidebar h3 {
  padding: 15px;
}

.sidebar ul {
  font-size: 15px;
  margin-bottom: 15px;
}
.sidebar li {
  padding: 15px;
  border-top: 1px solid #f5f4f4ef;
  cursor: pointer;
}
.sidebar li a {
  color: #282c34;
  margin: 15px;
  justify-content: space-between;
  box-sizing: border-box;
}
.sidebar ul i {
  font-size: medium;
  float: right;
  margin-left: 15px;
}
.sidebar li:hover {
  background-color: #ddd3;
}

.content {
  word-wrap: break-word;

  /* box-sizing: border-box;
  border: 2px dotted #ece3e3ee; */
  border-radius: 10px;
  background-color: #fff;
}

.side-menu {
  width: 280px;
  height: fit-content;
  color: #545454;
  background-color: #fff;
  border: 2px solid #f5f4f4ef;
  border-radius: 10px;
  margin-top: 25px;
  margin-left: 45px;
  box-sizing: border-box;
}
.side-menu h3 {
  padding: 15px;
}
.side-menu .menu-item .menu-icon {
  margin-left: 15px;
  margin-bottom: 5px;
}
.side-menu .menu-item .menu-icon span {
  padding: 10px;
  font-size: larger;
  font-weight: 600;
}
.side-menu .sub-menu {
  margin-left: 20px;
  margin-bottom: 20px;
  padding-left: 30px;
  border-left: 1px dotted #666;
  transition: max-height 0.2s ease-in;
  box-sizing: border-box;
}

.sub-menu li a {
  color: #545454;
  display: block;
  text-decoration: none;
  box-sizing: border-box;
  padding: 5px;
}
.sub-menu li a:active {
  border-left: 1px solid red;
}
.sub-menu li a:hover {
  color: #282c34;
  background-color: #ced4da;
}

.sub-menu i {
  font-size: medium;
  float: right;
  margin-left: 15px;
  padding-right: 10px;
}

/* ================== ~BODY END~ =================== */

/* ================== ~SLIDE PICTURES START~ =================== */

.slider-container {
  box-shadow: 0 0 4px #e1e5ee;
  height: 30vh;
  width: 100%;
  position: relative;
  margin: auto;
}

.inactive {
  display: none;
}
.slides {
  height: 30vh;
  width: 100%;
  position: relative;
}
@media screen and (max-width: 670) {
  .content {
    margin-left: -45px;
    padding: 0;
  }
}
.slide-image {
  width: 100%;
  height: 100%;
}
.prev,
.next {
  cursor: pointer;
  z-index: 100;
  position: absolute;
  top: 30%;
  width: auto;
  padding: 1rem;
  font-size: 40px;
  font-weight: bold;
  border-radius: 0px 5px 5px 0px;
}
.prev:hover,
.next:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  transition: a "" 0.5s ease-in;
}
.next {
  right: 0;
  border-radius: 5px 0px 0px 5px;
}
.all-dots {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  top: 85%;
  justify-content: center;
  z-index: 200;
}
.dot {
  cursor: pointer;
  height: 1rem;
  width: 1rem;
  margin: 0px 3px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  display: inline-block;
}
.active-dot,
.dot:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
@media screen and (max-width: 676px) {
  .sidebar {
    opacity: 0;
    height: 0;
  }
}
/* ================== ~SLIDE PICTURES ENDS~ =================== */

/* ================== ~Products STARTS~ =================== */

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 10rem));
  gap: 2rem;
  justify-content: center;
  padding-top: 25px;
  padding-left: 15px;
}

.card {
  overflow: hidden;
  box-shadow: 0 0 5px #e1e5ee;
  border-radius: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 200ms ease-in;
}

.card__image {
  height: 12rem;
  width: 100%;
  object-fit: cover;
}
.card__image:hover {
  transform: scale(1.03);
  z-index: 2;
}

.card__title {
  padding: 15px;
}

.card__description {
  padding: 0 0 20px 15px;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0 2px 30px #e1e5ee;
}

.card:hover .card__btn {
  background: #dcdaa9;
  color: white;
}

/* ================== ~Products END~ =================== */

/* ================== ~QUICKVIEW START~ =================== */

.product {
  height: 80vh;
  background-color: whitesmoke;
  position: relative;
}

.productImg {
  width: 50%;
  height: 100%;
}

.productDetails {
  position: absolute;
  top: 10%;
  right: 0;
  width: 40%;
  padding: 10px;
}

.productTitle {
  padding: 15px 0;
  font-size: 50px;
  font-weight: 900;
}

.productDesc {
  padding-top: 15px;
  font-style: 24px;
  color: gray;
}

.colors,
.sizes {
  display: flex;
  margin-bottom: 20px;
}
.counter {
  padding: 15px 0;
}
.counter .form-control {
  border-color: transparent;
  width: 10px;
  min-height: 5px;
  text-align: center;
}
.counter .btn-count {
  background-color: transparent;
  border-color: transparent;
  color: #e38434;
  background-color: #ced4da;
  font-size: 20px;
  padding: 3px 12px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.counter .btn-count:hover {
  background-color: #ced4da;
}
.sizes-text {
  padding: 15px 0;
}
.size {
  padding: 5px 20px;
  border: 1px solid #282c34;
  margin-right: 0;
  cursor: pointer;
  font-size: 20px;
}
.size:hover {
  color: white;
  background-color: #282c34;
}

.productButton {
  float: left;
  padding: 10px 20px;
  background-color: #282c34;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.productButton:hover {
  background-color: white;
  color: black;
}

.gallery {
  padding: 50px;
  display: flex;
}

.galleryItem {
  flex: 1;
  padding: 50px;
}

.galleryImg {
  width: 100%;
}

/* ================== ~QUICKVIEW END~ =================== */

/* ================== ~SUMMARY CART STARTS~ =================== */

.cart ion-icon,
span {
  display: inline-block;
}

.cart label,
img {
  color: #545454;
  display: block;
  text-decoration: none;
}

.cart input {
  font: inherit;
  width: 100%;
  border: none;
}

.cart input:focus {
  outline: 2px solid blue;
}

.heading {
  font-size: 28px;
  font-weight: 600px;
  color: #282c34;
  border-bottom: 1px solid #dcdcdc;
  padding: 20px 60px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.heading ion-icon {
  font-size: 40px;
}

.item-flex {
  display: flex;
  flex-grow: 1;
}

/**
 * checkout section style
 */

.checkout {
  width: 70%;
  padding: 40px 60px;
  background: white;
  border-right: 1px solid #dcdcdc;
}

.section-heading {
  color: #282c34;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 500px;
}

.payment-form {
  margin-bottom: 40px;
}

.payment-method {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 40px;
}

.payment-method .method {
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  width: 50%;
  display: flex;
  align-items: center;
  padding: 15px 30px;
  gap: 20px;
  cursor: pointer;
}

.payment-method .selected {
  border-color: blue;
}

.payment-method .method ion-icon {
  font-size: 20px;
}

.payment-method .method .checkmark {
  margin-left: auto;
  color: #dcdcdc;
}

.payment-method .method .fill {
  color: blue;
}

.label-default {
  padding-left: 10px;
  margin-bottom: 5px;
  font-size: 14px;
  color: #dcdcdc;
}

.input-default {
  background: #dcdcdc;
  border-radius: 5px;
  color: #dcdcdc;
}

.payment-form input {
  padding: 10px 15px;
  font-size: 18px;
  font-weight: 500px;
}

.cardholder-name,
.card-number {
  margin-bottom: 20px;
}

.card-number input,
.cvv input {
  letter-spacing: 3px;
}

.input-flex {
  display: flex;
  align-items: center;
  gap: 30px;
}

.input-flex .expire-date,
.input-flex .cvv {
  width: 50%;
}

.expire-date .input-flex {
  color: #dcdcdc;
  gap: 13px;
}

.expire-date .input-flex input {
  text-align: center;
}

.btn {
  border-radius: 5px;
}

.btn:active {
  transform: scale(0.99);
}

.btn:focus {
  color: white;
  background: blue;
  outline: 2px solid blue;
  outline-offset: 2px;
}

.btn-primary {
  background: blue;
  font-weight: 5px;
  color: white;
  padding: 13px 45px;
}

.btn-primary b {
  margin-right: 10px;
}

/**
 * cart section style
 */

.summary-cart {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.cart-item-box {
  padding: 40px 60px;
  margin-bottom: auto;
}

.product-card:not(:last-child) {
  margin-bottom: 20px;
}

.product-card .card-cart {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.card-cart .product-img {
  border-radius: 5px;
}

.card-cart .detail .product-name {
  font-weight: 600px;
  font-size: 15px;
  color: #545454;
  margin-bottom: 10px;
}

.card-cart .detail .wrapper {
  display: flex;
  gap: 20px;
}

.product-qty {
  display: flex;
  align-items: center;
  gap: 10px;
}

.product-qty button {
  background: #dcdcdc;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-qty button:active,
.product-close-btn:active ion-icon {
  transform: scale(0.95);
}

.product-qty button ion-icon {
  --ionicon-stroke-width: 60px;
  font-size: 10px;
}

.product-close-btn {
  position: absolute;
  top: 0;
  right: 0;
}

.product-close-btn ion-icon {
  font-size: 25px;
  color: #dcdcdc;
}

.product-close-btn:hover ion-icon {
  color: #dcdcdc;
}

.discount-token {
  padding: 40px 60px;
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
}

.wrapper-flex {
  display: flex;
  align-items: center;
  gap: 30px;
}

.wrapper-flex input {
  padding: 12px 15px;
  font-weight: 600px;
  letter-spacing: 2px;
}

.btn-outline {
  padding: 10px 25px;
  border: 1px solid blue;
  color: blue;
}

.btn-outline:hover {
  background: blue;
  color: white;
}

.amount div {
  display: flex;
  justify-content: space-between;
}

.amount div:not(:last-child) {
  margin-bottom: 10px;
}

.amount .total {
  font-size: 18px;
  font-weight: 700px;
  color: #282c34;
}

/*-----------------------------------*\
  #RESPONSIVE
\*-----------------------------------*/

@media (max-width: 1200px) {
  .item-flex {
    flex-direction: column-reverse;
  }

  /**
   * checkout section responsive
   */

  .checkout {
    width: 100%;
    border-right: none;
  }

  .btn-primary {
    width: 100%;
  }

  /**
   * cart section responsive
   */

  .summary-cart {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    border-bottom: 1px solid #dcdcdc;
  }

  .summary-cart .wrapper {
    margin-top: auto;
  }

  .summary-cart .cart-item-box {
    border-right: 1px solid #dcdcdc;
    margin-bottom: 0;
  }

  .discount-token {
    border-top: none;
  }
}

@media (max-width: 768px) {
  .summary-cart {
    grid-template-columns: 1fr;
  }

  .discount-token {
    border-top: 1px solid #dcdcdc;
  }

  .wrapper-flex {
    gap: 20px;
  }
}

@media (max-width: 567px) {
  .payment-method,
  .input-flex {
    flex-direction: column;
    gap: 20px;
  }

  .payment-method .method {
    width: 100%;
  }

  .input-flex .expire-date,
  .input-flex .cvv {
    width: 100%;
  }

  .expire-date .input-flex {
    flex-direction: row;
  }
}

/* ================== ~SUMMARY CART END~ =================== */

/* ================== ~ADMIN STARTS~ =================== */

.admin-nav {
  font-size: large;
}
.admin a {
  color: #282c34;
}
.admin-nav a {
  padding-right: 10px;
}
.mid-nav .logo span {
  font-size: 10px;
  font-style: italic;
  writing-mode: tb-rl;
}
.admin .nav-icon {
  font-size: 25px;
}

.main-menu {
  background-color: #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 0px 20px #d4d4d4;

  width: 80px;
  height: auto;

  /* position: -webkit-sticky;
	position: sticky;
	top: 0; */
  position: fixed;
  left: 0;
  align-items: center;
  justify-content: center;

  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;

  transition: 0.3s ease;
}

.main-menu:hover {
  width: 250px;
  overflow-y: scroll;
}

.main-menu .side-item {
  padding: 5px 25px;
}
.main-menu .side-item:hover {
  background-color: #d6d6d6;
  cursor: pointer;
}

.main-menu .side-item .icon {
  color: #282c34;
  width: 50px;
  font-size: 25px;
  padding: 15px;
}
.icon,
.icon-text {
  vertical-align: middle;
}
.main-menu .side-item:hover .icon {
  color: white;
}

.side-nav {
  background-color: #f3f3f3;
}

.inactive-content {
  margin-top: 25px;
  margin-left: 110px;
}
.active-content {
  margin-top: 25px;
  margin-left: 265px;
}

@media screen and (max-width: 676px) {
  .admin .nav-icon {
    font-size: 22px;
  }
  .mid-nav .logo span {
    font-size: 9px;
  }
}
table.table td h2.table-avatar {
  align-items: center;
  display: inline-flex;
  font-size: inherit;
  font-weight: 400;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  white-space: nowrap;
}
.avatar {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 3rem;
}
.avatar > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
.avatar-title {
  width: 100%;
  height: 100%;
  background-color: #00d0f1;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.avatar-sm {
  width: 2.5rem;
  height: 2.5rem;
}
.actions a {
  margin: 2px;
}
.btn-primary {
  background-color: #00d0f1;
  border: 1px solid #00d0f1;
}
.btn-icon {
  font-size: 20px;
  padding-right: 10px;
  vertical-align: middle;
}
.add-product {
  margin-bottom: 20px;
}

.add-product a {
  background-color: rgba(15, 183, 107, 0.12);
  color: #26af48;
  font-size: 15px;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.bg-success-light {
  background-color: rgba(15, 183, 107, 0.12);
  color: #26af48;
  padding: 5px;
}

.bg-danger-light {
  background-color: rgba(242, 17, 54, 0.12);
  color: #e63c3c;
  padding: 7px;
}
.avatar-img a {
  vertical-align: middle;
  padding-right: 5px;
}
/* ================== ~ADMIN END~ =================== */

/* ================== ~ERRORPAGE START~ =================== */

.error-page {
  align-items: center;
  color: #1f1f1f;
  display: flex;
}
.error-page .main-wrapper {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  justify-content: center;
  width: 100%;
  min-height: unset;
}
.error-box {
  margin: 0 auto;
  max-width: 480px;
  padding: 1.875rem 0;
  text-align: center;
  width: 100%;
}
.error-box h1 {
  color: #00d0f1;
  font-size: 10em;
}
.error-box p {
  margin-bottom: 2.3rem;
}
.error-box a {
  border-radius: 50px;
  font-size: 18px;
  font-weight: 600;
  min-width: 200px;
  padding: 10px 20px;
  color: white;
  background-color: #00d0f1;
}

/* ================== ~ERRORPAGE END~ =================== */

/* ================== ~FOOTER STARTS~ =================== */
.footer {
  background-color: #f5f4f4ef;
  color: gray;
  padding: 25px 0;
  font-size: 13px;
  font-family: "Signika", sans-serif;
  margin-top: 30px;
  box-sizing: border-box;
  bottom: 0;
}
.logo-part {
  border-right: 2px solid #282c34;
  box-sizing: border-box;
}
.logo-part .logo {
  text-align: center;
  font-size: 75px;
  margin-bottom: 20px;
}
.logo-part a {
  color: gray;
}
.logo-part .logo span {
  font-size: 18px;
  font-style: italic;
  writing-mode: tb-rl;
}
.logo-part .nav-icon {
  font-size: 55px;
}
.logo-part p {
  padding: 0 10px;
}
.about-footer {
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
}
.about-footer li a {
  text-align: left;
  text-decoration: 3px underline;
  color: gray;
  display: block;
  font-size: 13px;
  margin-bottom: 5px;
  padding: 5px;
}
.about-footer .more-a {
  color: blue;
  text-decoration: underline;
}
.about-footer p {
  padding-bottom: 12px;
}
.about-footer h3 {
  padding-bottom: 15px;
}
.about-footer .arrow-icon {
  padding-right: 50px;
}
.footer-social {
  border-left: 2px solid #282c34;
}
.footer-social-link {
  margin-top: 20px;
}
.footer-social-link a {
  color: gray;
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
}
.footer-social-link a:hover {
  color: #dcdaa9;
}

.footer-signature {
  font-weight: 500;
  color: white;
  background-color: gray;
  text-align: center;
  padding: 10px;
  margin: 0;
}
.footer-signature p {
  padding: 0;
}

/* ================== ~FOOTER END~ =================== */
