.app-header {
  font-size: calc(10px + 2vmin);
  color: white;
  display: inline-block;
  flex-direction: column;
  width: 100%;
}
.top-nav {
  display: flex;
  align-items: center;
  background-color: #dcdaa9;
  color: #282c34;
  padding: 10px;
}
.top-social {
  font-size: large;
}
.top-social a {
  padding-right: 10px;
}
.nav-contact {
  padding-left: 30px;
  display: flex;
  margin-right: 60%;
}

.nav-contact a {
  color: #282c34;
  font-size: 15px;
  font-weight: normal;
  margin-right: 25px;
}
.nav-contact a i {
  font-size: normal;
  padding-right: 5px;
}
.mid-nav {
  display: flex;
  align-items: center;
  background-color: #f5f4f4ef;
  color: #282c34;
}

.mid-nav a {
  padding-left: 40px;
  width: 330px;
  color: #282c34;
}
.mid-social {
  margin-left: 70px;
}
.mid-social a,
button {
  margin-left: 10px;
  border: 1px solid #282c34;
  border-radius: 25%;
}
.mid-social button {
  font-size: 10px;
  cursor: pointer;
}
.mid-social .orders {
  font-size: 15px;
  padding: 5px;
}
.mid-social .orders span {
  font-size: 17px;
  padding: 5px;
}
.mid-social .Sign-in {
  padding: 5px;
  font-size: 17px;
  border: 1px solid #282c34;
  border-radius: 25%;
  align-items: center;
}
.mid-nav .logo span {
  font-size: 11px;
  font-style: italic;
  writing-mode: tb-rl;
}
.mid-nav .nav-icon {
  font-size: 25px;
  align-items: baseline;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .top-nav .top-social {
    margin-left: 450px;
  }
  .nav-contact {
    margin-right: -450px;
  }
  .mid-social {
    margin-left: -640px;
  }
}

.searchBox {
  /* transform:  translate(-50%,50%); */
  display: flex;
  align-items: center;
  justify-content: center;
  background: #dcdaa9;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
  margin: 10px;
}

.searchButton {
  margin-left: 10px;
  color: white;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.searchInput,
.searchSelect {
  color: #282c34;
  font-size: 16px;
  font-weight: 600px;
  transition: 0.4s;
  line-height: 40px;
}

.searchInput {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  width: 240px;
}

.searchSelect {
  border: 1px transparent;
  background: none;
  outline: 1px;
  float: left;
  padding: 0;
  width: 280px;
  opacity: 1;
}
.selectOption {
  color: white;
  background-color: #282c34;
}

@media screen and (max-width: 767px) {
  .searchBox,
  .selectOption {
    opacity: 0;
    z-index: -1000;
  }
}

/* ================== ~TOP-NAV ENDS~ =================== */

/* ================== ~MAIN-NAV STARTS~ =================== */

.main-nav {
  background-color: #f5f4f4ef;
  min-height: 4vh;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: sticky;
  top: 0;
}
.main-nav a {
  color: #282c34;
  padding: 25px 15px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  box-sizing: border-box;
}
.main-nav a:hover {
  background-color: #ced4da;
}
/* ================== ~MAIN-NAV ENDS~ =================== */

/* ================== ~AUTH START~ =================== */
.auth-background {
  overflow-y: hidden;
}

.auth-form {
  margin-top: 30px;
  margin-left: 35%;
  width: 25%;
  max-width: 768px;
  border: 1px solid #ddd;
  padding: 3vw;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}
@media screen and (max-width: 675px) {
  .auth-form {
    margin: 10px;
    width: 90%;
  }
}
.auth-form h3 {
  text-align: center;
  padding-bottom: 20px;
}
.signup,
.social-login,
.btn-auth {
  text-align: center;
  margin-top: 30px;
}

.form-control {
  border-color: #dcdcdc;
  color: #333;
  font-size: 15px;
  min-height: 46px;
  padding: 6px 15px;
}
.error {
  margin: 4px 0 0 0;
  font-size: 13px;
  color: #e64646;
}

.btn-auth {
  font-size: 15;
  font-weight: 350;
  align-items: center;
  padding: 15px 0px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 3px;
}
.login-or {
  color: #a0a0a0;
  margin-top: 20px;
  padding-bottom: 5px;
  padding-top: 10px;
  position: relative;
}
.or-line {
  background-color: #e5e5e5;
  height: 1px;
  margin-bottom: 0;
  margin-top: 0;
  display: block;
}
.span-or {
  background-color: #fff;
  display: block;
  left: 40%;
  margin-left: -20px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 0;
}
.social-login {
  text-align: center;
  display: block;
}
.text-right {
  text-align: right;
  margin: 10px;
}
.auth-form input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  margin-top: 20px;
  border: none;
  outline: none;
  border-bottom: 1px solid #545454;
}

.auth-form label {
  margin-bottom: 15px;
  position: relative;
  border-bottom: 1px solid #ddd;
}
.auth-form input::placeholder {
  opacity: 0;
}
.form-group span {
  position: absolute;
  top: 1;
  left: 0;
  transform: translateY(30px);
  font-size: 0.825em;
  transition-duration: 300ms;
}

label:focus-within span,
input:not(:placeholder-shown) + span {
  color: #282c34;
  transform: translateY(0px);
}
.auth-icon {
  font-size: 20px;
  display: inline;
  padding: 10px;
}
.social-login button {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}
.signup {
  margin-top: 10px;
}
/* .auth-layout {
  background-image: url(../assets/images/user-access-authentication-icon.jpg);
  background-repeat: repeat-x;
  object-fit: fill;
  background-position: right center;
  height: 40px;
} */
/* ================== ~AUTH ENDS~ =================== */

/* ================== ~BODY STARTS~ =================== */
.body-contect h2 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
  font-style: italic;
  margin: 20px;
}

.sidebar {
  width: 280px;
  height: fit-content;
  color: #545454;
  background-color: #fff;
  border: 2px solid #f5f4f4ef;
  border-radius: 10px;
  margin-top: 25px;
  margin-left: 45px;
  box-sizing: border-box;
}
.sidebar h3 {
  padding: 15px;
}

.sidebar ul {
  font-size: 15px;
  margin-bottom: 15px;
}
.sidebar li {
  padding: 15px;
  border-top: 1px solid #f5f4f4ef;
  cursor: pointer;
}
.sidebar li a {
  color: #282c34;
  margin: 15px;
  justify-content: space-between;
  box-sizing: border-box;
}
.sidebar ul i {
  font-size: medium;
  float: right;
  margin-left: 15px;
}
.sidebar li:hover {
  background-color: #ddd3;
}

.content {
  word-wrap: break-word;
  margin-top: 15px;
  margin-left: 45px;
  padding: 12px 0;

  /* box-sizing: border-box;
  border: 2px dotted #ece3e3ee; */
  border-radius: 10px;
  background-color: #fff;
}

.side-menu {
  width: 280px;
  height: fit-content;
  color: #545454;
  background-color: #fff;
  border: 2px solid #f5f4f4ef;
  border-radius: 10px;
  margin-top: 25px;
  margin-left: 45px;
  box-sizing: border-box;
}
.side-menu h3 {
  padding: 15px;
}
.side-menu .menu-item .menu-icon {
  margin-left: 15px;
  margin-bottom: 5px;
}
.side-menu .menu-item .menu-icon span {
  padding: 10px;
  font-size: larger;
  font-weight: 600;
}
.side-menu .sub-menu {
  margin-left: 20px;
  margin-bottom: 20px;
  padding-left: 30px;
  border-left: 1px dotted #666;
  transition: max-height 0.2s ease-in;
  box-sizing: border-box;
}

.sub-menu li a {
  color: #545454;
  display: block;
  text-decoration: none;
  box-sizing: border-box;
  padding: 5px;
}
.sub-menu li a:active {
  border-left: 1px solid red;
}
.sub-menu li a:hover {
  color: #282c34;
  background-color: #ced4da;
}

.sub-menu i {
  font-size: medium;
  float: right;
  margin-left: 15px;
  padding-right: 10px;
}

/* ================== ~BODY END~ =================== */

/* ================== ~SLIDE PICTURES START~ =================== */

.slider-container {
  box-shadow: 0 0 4px #e1e5ee;
  height: 30vh;
  width: 100%;
  position: relative;
  margin: auto;
}

.inactive {
  display: none;
}
.slides {
  height: 30vh;
  width: 100%;
  position: relative;
}
@media screen and (max-width: 670) {
  .content {
    margin-left: -45px;
    padding: 0;
  }
}
.slide-image {
  width: 100%;
  height: 100%;
}
.prev,
.next {
  cursor: pointer;
  z-index: 100;
  position: absolute;
  top: 30%;
  width: auto;
  padding: 1rem;
  font-size: 40px;
  font-weight: bold;
  border-radius: 0px 5px 5px 0px;
}
.prev:hover,
.next:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  transition: a "" 0.5s ease-in;
}
.next {
  right: 0;
  border-radius: 5px 0px 0px 5px;
}
.all-dots {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  top: 85%;
  justify-content: center;
  z-index: 200;
}
.dot {
  cursor: pointer;
  height: 1rem;
  width: 1rem;
  margin: 0px 3px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  display: inline-block;
}
.active-dot,
.dot:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
/* ================== ~SLIDE PICTURES ENDS~ =================== */

/* ================== ~Products STARTS~ =================== */

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
  gap: 3rem;
  justify-content: center;
}

.card {
  overflow: hidden;
  box-shadow: 0 0 5px #e1e5ee;
  border-radius: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 200ms ease-in;
}

.card__image {
  height: 12rem;
  width: 100%;
  object-fit: cover;
}
.card__image:hover {
  transform: scale(1.03);
  z-index: 2;
}

.card__title {
  padding: 15px;
}

.card__description {
  padding: 0 0 20px 15px;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0 2px 30px #e1e5ee;
}

.card:hover .card__btn {
  background: #dcdaa9;
  color: white;
}

/* ================== ~Products END~ =================== */

/* ================== ~FOOTER STARTS~ =================== */

.footer {
  display: inline-block;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  text-align: center;
  margin-top: 40px;
}
.footer p {
  padding: 5px 0;
}

/* ================== ~FOOTER END~ =================== */

/* ================== ~QUICKVIEW START~ =================== */

.product {
  height: 80vh;
  background-color: whitesmoke;
  position: relative;
}

.productImg {
  width: 50%;
}

.productDetails {
  position: absolute;
  top: 10%;
  right: 0;
  width: 40%;
  padding: 10px;
}

.productTitle {
  padding: 15px 0;
  font-size: 50px;
  font-weight: 900;
}

.productDesc {
  padding-top: 15px;
  font-style: 24px;
  color: gray;
}

.colors,
.sizes {
  display: flex;
  margin-bottom: 20px;
}
.counter {
  padding: 15px 0;
}
.counter .form-control {
  border-color: transparent;
  width: 10px;
  min-height: 5px;
  text-align: center;
}
.counter .btn-count {
  background-color: transparent;
  border-color: transparent;
  color: #e38434;
  background-color: #ced4da;
  font-size: 20px;
  padding: 3px 12px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.counter .btn-count:hover {
  background-color: #ced4da;
}
.sizes-text {
  padding: 15px 0;
}
.size {
  padding: 5px 20px;
  border: 1px solid #282c34;
  margin-right: 0;
  cursor: pointer;
  font-size: 20px;
}
.size:hover {
  color: white;
  background-color: #282c34;
}

.productButton {
  float: left;
  padding: 10px 20px;
  background-color: #282c34;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.productButton:hover {
  background-color: white;
  color: black;
}

.gallery {
  padding: 50px;
  display: flex;
}

.galleryItem {
  flex: 1;
  padding: 50px;
}

.galleryImg {
  width: 100%;
}

/* ================== ~QUICKVIEW END~ =================== */

/* ================== ~SUMMARY CART STARTS~ =================== */

.cart ion-icon,
span {
  display: inline-block;
}

.cart label,
img {
  color: #545454;
  display: block;
  text-decoration: none;
}

.cart input {
  font: inherit;
  width: 100%;
  border: none;
}

.cart input:focus {
  outline: 2px solid blue;
}

/**
 * Custom scrollbar style
 */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #dcdcdc;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #dcdcdc;
}

.container {
  max-width: 1440px;
  min-height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.heading {
  font-size: 28px;
  font-weight: 600px;
  color: #282c34;
  border-bottom: 1px solid #dcdcdc;
  padding: 20px 60px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.heading ion-icon {
  font-size: 40px;
}

.item-flex {
  display: flex;
  flex-grow: 1;
}

/**
 * checkout section style 
 */

.checkout {
  width: 70%;
  padding: 40px 60px;
  background: white;
  border-right: 1px solid #dcdcdc;
}

.section-heading {
  color: #282c34;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 500px;
}

.payment-form {
  margin-bottom: 40px;
}

.payment-method {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 40px;
}

.payment-method .method {
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  width: 50%;
  display: flex;
  align-items: center;
  padding: 15px 30px;
  gap: 20px;
  cursor: pointer;
}

.payment-method .selected {
  border-color: blue;
}

.payment-method .method ion-icon {
  font-size: 20px;
}

.payment-method .method .checkmark {
  margin-left: auto;
  color: #dcdcdc;
}

.payment-method .method .fill {
  color: blue;
}

.label-default {
  padding-left: 10px;
  margin-bottom: 5px;
  font-size: 14px;
  color: #dcdcdc;
}

.input-default {
  background: #dcdcdc;
  border-radius: 5px;
  color: #dcdcdc;
}

.payment-form input {
  padding: 10px 15px;
  font-size: 18px;
  font-weight: 500px;
}

.cardholder-name,
.card-number {
  margin-bottom: 20px;
}

.card-number input,
.cvv input {
  letter-spacing: 3px;
}

.input-flex {
  display: flex;
  align-items: center;
  gap: 30px;
}

.input-flex .expire-date,
.input-flex .cvv {
  width: 50%;
}

.expire-date .input-flex {
  color: #dcdcdc;
  gap: 13px;
}

.expire-date .input-flex input {
  text-align: center;
}

.btn {
  border-radius: 5px;
}

.btn:active {
  transform: scale(0.99);
}

.btn:focus {
  color: white;
  background: blue;
  outline: 2px solid blue;
  outline-offset: 2px;
}

.btn-primary {
  background: blue;
  font-weight: 5px;
  color: white;
  padding: 13px 45px;
}

.btn-primary b {
  margin-right: 10px;
}

/**
 * cart section style
 */

.summary-cart {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.cart-item-box {
  padding: 40px 60px;
  margin-bottom: auto;
}

.product-card:not(:last-child) {
  margin-bottom: 20px;
}

.product-card .card-cart {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.card-cart .product-img {
  border-radius: 5px;
}

.card-cart .detail .product-name {
  font-weight: 600px;
  font-size: 15px;
  color: #545454;
  margin-bottom: 10px;
}

.card-cart .detail .wrapper {
  display: flex;
  gap: 20px;
}

.product-qty {
  display: flex;
  align-items: center;
  gap: 10px;
}

.product-qty button {
  background: #dcdcdc;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-qty button:active,
.product-close-btn:active ion-icon {
  transform: scale(0.95);
}

.product-qty button ion-icon {
  --ionicon-stroke-width: 60px;
  font-size: 10px;
}

.product-close-btn {
  position: absolute;
  top: 0;
  right: 0;
}

.product-close-btn ion-icon {
  font-size: 25px;
  color: #dcdcdc;
}

.product-close-btn:hover ion-icon {
  color: #dcdcdc;
}

.discount-token {
  padding: 40px 60px;
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
}

.wrapper-flex {
  display: flex;
  align-items: center;
  gap: 30px;
}

.wrapper-flex input {
  padding: 12px 15px;
  font-weight: 600px;
  letter-spacing: 2px;
}

.btn-outline {
  padding: 10px 25px;
  border: 1px solid blue;
  color: blue;
}

.btn-outline:hover {
  background: blue;
  color: white;
}


.amount > div {
  display: flex;
  justify-content: space-between;
}

.amount > div:not(:last-child) {
  margin-bottom: 10px;
}

.amount .total {
  font-size: 18px;
  font-weight: 700px;
  color: #282c34;
}

/*-----------------------------------*\
  #RESPONSIVE
\*-----------------------------------*/

@media (max-width: 1200px) {
  .item-flex {
    flex-direction: column-reverse;
  }

  /**
   * checkout section responsive 
   */

  .checkout {
    width: 100%;
    border-right: none;
  }

  .btn-primary {
    width: 100%;
  }

  /**
   * cart section responsive
   */

  .summary-cart {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    border-bottom: 1px solid #dcdcdc;
  }

  .summary-cart .wrapper {
    margin-top: auto;
  }

  .summary-cart .cart-item-box {
    border-right: 1px solid #dcdcdc;
    margin-bottom: 0;
  }

  .discount-token {
    border-top: none;
  }
}

@media (max-width: 768px) {
 
  .summary-cart {
    grid-template-columns: 1fr;
  }

  .discount-token {
    border-top: 1px solid #dcdcdc;
  }

  .wrapper-flex {
    gap: 20px;
  }
}

@media (max-width: 567px) {

  .payment-method,
  .input-flex {
    flex-direction: column;
    gap: 20px;
  }

  .payment-method .method {
    width: 100%;
  }

  .input-flex .expire-date,
  .input-flex .cvv {
    width: 100%;
  }

  .expire-date .input-flex {
    flex-direction: row;
  }
}

/* ================== ~SUMMARY CART END~ =================== */
